<form class="form-signin">
    <h2 class="form-signin-heading">Welcome to the Questions page</h2>
     <br>
    <h4><b>Question: </b> What is this website?</h4>
    <h4><b>Answer: </b> This website allows users to shop at our store and purchase different products. It also includes an admin center that manages the different products for sale.</h4>
    <br>
    <h4><b>Question: </b> Is there admin/regular user settings?</h4>
    <h4><b>Answer: </b> Yes, there are admin settings to add/edit/delete items as well as controlling users.</h4>
    <br>
    <h4><b>Question: </b> How does the search functionality work?</h4>
    <h4><b>Answer: </b> Users can search for the product name, description and price. </h4>
    <br>
    <h4><b>Question: </b> Did you use AJAX for your project?</h4>
    <h4><b>Answer: </b> AJAX is integrated when adding products to the shopping cart. </h4>
    <br>
    <h4><b>Question: </b> What's with the shopper's view?</h4>
    <h4><b>Answer: </b> The shopper's view allows users (open to the public) to purchase different products from our website.</h4>
    <br>
    <h4><b>Question: </b> What's with the admin view?</h4>
    <h4><b>Answer: </b> The admin view allows users to manage the website by seeing the number of orders, as well as add, delete and edit items and admin users.</h4>
</form>
