<form class="form-signin">
    <h2 class="form-signin-heading">Welcome to the About Us page</h2>
    
    <h4>Hello. We're a sample company looking to sell anything and everyhting apple products. If there is anything you like us to add please feel free to contact us and we'll add it. Additionaly any questions or concerns you may have please visit the questions section on our home page.</h4>
    <h4>Thank you,</h4>
    <h4>JCL Admin Team.</h4>
</form>
